<div class="container">
    <div class="main-card">
        <header class="header">
            <div class="titles">
                <p class="section-title">Cargar imagenes</p>
                <p class="section-subtitle">Comience agregando imágenes para procesarlas.</p>
            </div>
            <div class="controls">
                <button class="control-btn theme-toggle" (click)="setTheme()">
                    <i [class]="theme === 'dark' ? 'fas fa-sun' : 'fas fa-moon'"></i>
                </button>
            </div>
        </header>

        <div class="content-section" (click)="inputFile.click()" (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" [class.dragover]="isDragging">
            <div class="upload-area">
                <div class="upload-icon">
                    <i class="fas fa-image"></i>
                </div>
                <div class="upload-text">
                    <p>Arrastre y suelte sus imágenes aquí o </p> <span class="browse-link">busque archivos</span>
                </div>
                <input type="file" id="fileInput" multiple accept="image/*" style="display: none;" #inputFile
                    (change)="onFileSelected($event)" name="inputFile" >
            </div>
        </div>

        @if (attachedFiles.length > 0) {

        @if (totalProgress > 0) {
        <app-progress-bar [totalProgress]="totalProgress"  />
        }

        @if (canDownload) {
        <app-excel-download  />
        }
        <div class="files-section">
            <div class="files-header">
                <p class="files-title">Archivos subidos</p>
                <button type="button" class="btn-analyze" (click)="analyzeFiles()">Analizar</button>
            </div>
            <div class="file-list">
                @for (file of attachedFiles; track $index) {
                <div class="file-item">
                    <div class="file-icon">
                        <i class="fas fa-image"></i>
                    </div>
                    <div class="file-info">
                        <p class="file-name">{{file.name}}</p>
                        <p class="file-path">Peso: {{ getReadableSize(file.size) }}</p>
                    </div>
                    <div class="file-action">
                        <div class="file-action__item delete" (click)="deleteFile(file.name)">
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
        }
    </div>
</div>