<div class="container">

    <app-menu />

    <div class="camera-card">
        <div class="card-header">
            <h3 class="card-title">Capturar Foto</h3>
        </div>

        <div class="camera-zone">
            @if (!isStreaming() && !capturedPhoto()) {
            <div class="camera-placeholder">
                <div class="camera-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                        class="bi bi-camera" viewBox="0 0 16 16">
                        <path
                            d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4z" />
                        <path
                            d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5m0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0" />
                    </svg>
                </div>
                <h4>Activar cámara para tomar fotos</h4>
            </div>
            }

            <video #videoElement [style.display]="isStreaming() ? 'block' : 'none'" class="camera-video" autoplay
                playsinline>
            </video>

            <!-- @if (capturedPhoto()) {
            <div class="captured-preview">
                <img [src]="capturedPhoto()" alt="Foto capturada" />
            </div>
            } -->
        </div>

        <canvas #canvasElement style="display: none;"></canvas>

        <div class="camera-controls">
            @if (!isStreaming() && !capturedPhoto()) {
            <button (click)="startCamera()" class="btn-primary">
                Activar Cámara
            </button>
            }

            @if (isStreaming()) {
            <button (click)="takePhoto()" class="btn-primary">
                Tomar Foto
            </button>
            <button (click)="stopCamera()" class="btn-secondary">
                Detener
            </button>
            }
        </div>

        @if (capturedPhoto()) {
        <div class="photos-section">
            <div class="files-section">
                <div class="files-header">
                    <p class="files-title">Fotos capturadas</p>
                    <button type="button" class="btn-analyze">Analizar</button>
                </div>
                <div class="file-list">
                    <div class="file-item">
                        <div class="file-icon">
                            <i class="fas fa-image"></i>
                        </div>
                        <div class="file-info">
                            <p class="file-name">foto_capturada.jpg</p>
                            <p class="file-path">Peso: {{ getPhotoSize() }}</p>
                        </div>
                        <div class="file-action">
                            <div class="file-action__item delete" (click)="clearPhoto()">
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }

        @if (errorMessage()) {
        <div class="error-message">
            {{ errorMessage() }}
        </div>
        }
    </div>
</div>